.tab-content {
  .form-group {
    margin-bottom: 16px;

    .form-label {
      display: block;
      margin-bottom: 8px;
      font-weight: 500;
      font-size: 14px;
      color: rgba(0, 0, 0, 0.85);
    }
  }
}

.settings-list {
  .settings-group {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .setting-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #f0f0f0;

  }

  .setting-item-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.livestream-keys {
  display: none;

  &.open {
    visibility: visible;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}


// ANT-DESIGN OVERRIDE
.datetime-picker {
  display: flex;
  gap: 8px;

  .ant-picker {
    padding: 8px 16px;
  }
}

.ant-modal-content {
  padding: 0;

  .ant-modal-header {
    margin: 0;
    text-align: center;

    .ant-modal-title {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
    }
  }

  .ant-modal-footer {
    padding-top: 16px;
    border-top: 1px solid #f0f0f0;
    background-color: #fff;
  }
}

.meeting-tabs {
  .ant-tabs-nav {
    .ant-tabs-nav-list {
      width: 100%;
      justify-content: center;

      .ant-tabs-tab {
        flex: 1;
        display: flex;
        justify-content: center;
        margin: 0;
      }
    }
  }
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #333333 !important;
}

.ant-tabs-ink-bar {
  background: #FF3C3C !important;
}

